<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>View comments</title>

  <link rel="stylesheet" type="text/css" href="../../stylesheets/normalize.css">
  <link rel="stylesheet" type="text/css" href="../../stylesheets/grid.css">
  <link rel="stylesheet" type="text/css" href="../../stylesheets/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../../stylesheets/style.css">   
</head>


<body>

  
    <div class="grid-container header">
        <div class="grid-1">
              <a href="/"><img src='../../images/logo.png' height="80px"></a>
          </div>
        
        <div class="grid-9 top_nav">
              <ul>
                {{#tags}}
                <li>
                  <a href="/tags/{{id}}">{{tag_name}}</a>
                </li>
                {{/tags}}
              </ul>
        </div>
        <div class="grid-2 search_bar"
            <form method="get" action="/search" id="search">
             <input name="q" type="text" size="40" placeholder="Not working yet"/>
            </form> 
          </br>
          <div class="add_objects">
            <a href="/add_tag"><img src='../../images/add_tag.png' height="50" width="42"></a>
            <a href="/add_post"><img src='../../images/add_post.png' height="50" width="42"></a>
           </div>

        </div>
       
   </div>

   <div class="straight_line">
   
    </div>


  <form action="/posts/{{posts.id}}/comments/new" method="POST">
    <input type="text" name="body" placeholder="Add comment">
    <input type="text" name="user_id" placeholder="Add username">
    <button>Add comment</button>
  </form>

<div class="all_comments">
	<ul>
		{{#comments}}
		<li>
			{{body}} </br>
			{{user_id}}, {{date_posted}}
		</li>
		{{/comments}}
	</ul>
</div>

</body>
</html>